[project]
name = "jogging-workspace"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "numpy>=2.3.4",
    "opencv-python>=4.11.0.86",
    "wandelbots-nova[nova-rerun-bridge]>=3.6.5",
]
